<% (0..7).each do |y| %>
  <div class="row <%= 'top' if y.zero?%> <%= 'bottom' if y == 7 %>">
  <% (0..7).each do |x| %>
    <% if y.even? %>
      <% space_color = x.even? ? 'black' : 'white' %>
    <% else %>
      <% space_color = x.even? ? 'white' : 'black' %>
    <% end %>
    <div class="<%= space_color %> left"
      data-x="<%= x %>"
      data-y="<%= y %>">
        <div class='piece'
          data-x="<%= x %>"
          data-y="<%= y %>">
          <%= render_piece(x,y) %>
        </div>
    </div>
  <% end %>
  </div>
<% end %>
