<h1 class='dash-head'> Hello <%= current_user.email %> </h1>

<%= link_to "Home", root_path, class: "waves-effect-light btn" %>

<div class="row">

  <div class="user-games col s6">
    <h4> User Games: </h4>
    <% @games.each do |game| %>
    <ul>
      <li>
        Name: <%= link_to game.name, game_path(game) %>
        <br   />
        <li>
          Game ID: <%= game.id %>
        </li>
      </li>
    </ul>
    <% end %>
  </div>


  <% @games.each do |game| %>
    <% if current_user.id == game.white_player_id || current_user.id == game.black_player_id %>
      <li>
        <%= game.name %>
        <%= game.id %>
      </li>
    <% end %>
  <% end %>


  <div class="record col s6">
    <h4>User Record:</h4>
    <p>
      Wins: <%= current_user.wins %>
      <br   />
      Losses: <%= current_user.losses %>
    </p>
    <%= link_to 'Find more games to improve your record!', root_path, class: "waves-effect-light btn" %>
  </div>

</div>
