<h1 class='dash-head card-panel blue-grey lighten-5'> Hello <%= current_user.email %></h1>

<div class="row card-panel blue-grey lighten-5">
  <h4><b> User Games: </b></h4>
  <% @games.each do |game| %>
    <% if current_user.id == game.white_player_id || current_user.id == game.black_player_id %>
      <li>
        <%= link_to game.name, game_path(game) %>
        <%= game.id %>
      </li>
    <% end %>
  <% end %>

  <h4><b> User Record: </b> </h4>
  <p>
    Wins: <%= current_user.wins %>
    <br   />
    Losses: <%= current_user.losses %>
  </p>
  <%= link_to 'Find more games to improve your record!', games_path, class: "waves-effect-light btn" %>
</div>
