<% if user_signed_in? %>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'New game', new_game_path %></li>
  <li><%= link_to 'Dashboard', '#' %></li>
  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Log in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path, class: "waves-effect waves-light btn" %></li>
<% end %>
