<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="main-background black">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'Konquer', root_path, class: 'brand-logo' %>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= render "./layouts/navlinks" %>
      </ul>
      <ul id="mobile-nav" class="side-nav">
        <%= render "./layouts/navlinks" %>
      </ul>
    </div>
  </nav>

  <main class="container">
    <%= yield %>
  </main>

</body>
</html>
